<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863729296914-3im8nsg5tenv44hikdpl51n64ffr8fus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863729296914-3im8nsg5tenv44hikdpl51n64ffr8fus</string>
	<key>API_KEY</key>
	<string>AIzaSyBIuerqPgCvDqPJJ6rtY7zqNZZVv-sZNdo</string>
	<key>GCM_SENDER_ID</key>
	<string>863729296914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.cheungje.myNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-3fb77</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-3fb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863729296914:ios:120892c4a07fe793721acb</string>
</dict>
</plist>